.custom-bg {
  background: rgb(46, 46, 46);
  background: linear-gradient(124deg, rgba(46, 46, 46, 1) 0%, rgba(2, 2, 2, 1) 100%);
  border: 1px solid #686868;
}

.custom-bg-3 {
  background: rgb(25, 25, 25);
}

.custom-bg-4{
  background-color: #232931;
}

