.custom-bg-2 {
  background: rgb(18, 19, 21);
  background: linear-gradient(
    90deg,
    rgba(18, 19, 21, 1) 0%,
    rgba(32, 122, 129, 1) 50%,
    rgba(18, 19, 21, 1) 100%
  );
}


.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
